Checks: >-
  -*,
  bugprone-*,
  
  cert-*,
  
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  
  google-*,
  
  misc-*,
  
  modernize-*,
  
  performance-*,
  
  portability-*,
  
  readability-*,

CheckOptions:
  misc-header-include-cycle.IgnoredFilesList: 'src/vendor/compat-5.3\.h'
  misc-include-cleaner.IgnoreHeaders: 'src/vendor/compat-5.3\.h'
  readability-identifier-length.IgnoredVariableNames: '^[xy]$' # allow coordinate variables
  readability-identifier-length.IgnoredParameterNames: '^[L]$' # allow Lua state parameter

FormatStyle: file
WarningsAsErrors: '*'