# EditorConfig configuration
# See: https://editorconfig.org

root = true

[*]
indent_style             = tab
indent_size              = tab
#tab_width               = 4
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
max_line_length          = 80

[*.{json,yml,yaml,md,mdx,c,h,cpp,hpp,cc,hh}]
indent_style = space
indent_size  = 2

[*.{json,ppm}]
insert_final_newline = false

[*.{md,mdx}]
trim_trailing_whitespace = false

[*.{lua,rockspec}]
max_line_length = 120

# Custom options for EmmyLuaCodeStyle
# See: https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/docs/format_config_EN.md
quote_style                       = single
trailing_table_separator          = smart
align_continuous_assign_statement = false
