# Git ignore file
# See: https://git-scm.com/docs/gitignore

# OS
.DS_Store

# IDE
.idea/
.vscode/

# LuaRocks
luarocks/
lua/
lua_modules/
.luarocks/
*.src.rock
*.zip
*.tar.gz

# Output
*.o
*.so
*.dll
*.exp
*.lib
*.obj
*.def
*.rock

# Temp Files
/test.lua
