name: After Release

on:
  # I will probably add this to the release workflow but for now it's manual
  workflow_dispatch:

jobs:
  e2e-test:
    name: E2E Test

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        lua_version: [ '5.1', '5.2', '5.3', '5.4', 'luajit' ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Microsoft Visual C++ Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
        # Will be ignored on non-Windows platforms anyway, but it's better to just skip it
        if: matrix.os == 'windows-latest'

      - name: Setup Lua
        uses: leafo/gh-actions-lua@35bcb06abec04ec87df82e08caa84d545348536e # v10.0.0
        with:
          luaVersion: ${{ matrix.lua_version }}

      - name: Setup LuaRocks
        uses: hishamhm/gh-actions-luarocks@master

      - name: Install fenster
        run: luarocks install fenster
        # Currently does not work for LuaJIT on Windows (lua library not found)
        if: matrix.os != 'windows-latest' || matrix.lua_version != 'luajit'

      - name: Run a basic test
        run: lua -e "local fenster = require('fenster');print(fenster.time())"
        # Currently does not work for Windows (can't import 'fenster')
        if: matrix.os != 'windows-latest'
