name: Check Demos

on:
  push:
    branches:
      - main
    paths:
      - 'demos/**'

  pull_request:
    branches:
      - main
    paths:
      - 'demos/**'

  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Lua
        uses: luarocks/gh-actions-lua@master

      - name: Set up LuaRocks
        uses: luarocks/gh-actions-luarocks@master

      - name: Run luacheck on demos
        env:
          # renovate: datasource=github-releases depName=ammaraskar/msvc-problem-matcher
          MSCV_PROBLEM_MATCHER_VERSION: 0.3.0
        run: |
          IFS=$' \n\t'; set -ux

          # install luacheck
          luarocks install luacheck

          # download and setup problem matcher for luacheck's visual_studio formatter
          wget -q "https://raw.githubusercontent.com/ammaraskar/msvc-problem-matcher/${MSCV_PROBLEM_MATCHER_VERSION}/msvc_matcher.json" \
            -O visual-studio-problem-matcher.json
          echo '::add-matcher::visual-studio-problem-matcher.json'

          # run luacheck
          luacheck ./demos/ --no-cache --formatter visual_studio
