name: Check Workflows

on:
  push:
    branches:
      - main
      - 'renovate/**'
    paths:
      - '.github/workflows/**.yml'

  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/**.yml'

  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run actionlint on GitHub Actions workflows
        env:
          # renovate: datasource=github-releases depName=rhysd/actionlint
          ACTIONLINT_VERSION: v1.7.9
        run: |
          IFS=$' \n\t'; set -ux

          # download, extract and setup actionlint
          wget -q "https://github.com/rhysd/actionlint/releases/download/${ACTIONLINT_VERSION}/actionlint_${ACTIONLINT_VERSION#v}_linux_amd64.tar.gz" \
            -O actionlint.tar.gz
          tar -xzf actionlint.tar.gz
          chmod +x actionlint

          # download and setup problem matcher for actionlint
          wget -q "https://raw.githubusercontent.com/rhysd/actionlint/${ACTIONLINT_VERSION}/.github/actionlint-matcher.json" \
            -O actionlint-problem-matcher.json
          echo '::add-matcher::actionlint-problem-matcher.json'

          # run actionlint
          ./actionlint -verbose -color
