name: Maintenance

on:
  schedule:
    - cron: '0 13 1 * *'

  workflow_dispatch:

jobs:
  update-libraries:
    name: Update Libraries

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Update fenster
        run: wget https://raw.githubusercontent.com/jonasgeiler/fenster/main/fenster.h -O lib/fenster/fenster.h

      - name: Update compat-5.3
        run: |
          wget https://raw.githubusercontent.com/lunarmodules/lua-compat-5.3/master/c-api/compat-5.3.h -O lib/compat-5.3/compat-5.3.h
          wget https://raw.githubusercontent.com/lunarmodules/lua-compat-5.3/master/c-api/compat-5.3.c -O lib/compat-5.3/compat-5.3.c

      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: 'chore(lib): update libraries'
          signoff: true
          branch: maintenance/update-libraries
          delete-branch: true
          sign-commits: true
          title: 'chore(lib): update libraries'
          body: |
              This PR updates the libraries used by the project.
          labels: libraries
          reviewers: ${{ github.repository_owner }}
