name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml

  luarocks-upload-and-github-release:
    name: LuaRocks Upload & GitHub Release
    needs: check

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Lua
        uses: luarocks/gh-actions-lua@master

      - name: Set up LuaRocks
        uses: luarocks/gh-actions-luarocks@master

      - name: Modify rockspec & upload to LuaRocks server
        run: |
          IFS=$' \n\t'; set -ux
          
          version="${GITHUB_REF_NAME}"
          rockspec="fenster-${version#v}-1.rockspec"
          git mv fenster-dev-1.rockspec "${rockspec}"
          sed -i -E "s/\bversion\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-]+\s*('|\"|\]\])/version = '${version#v}-1'/" "${rockspec}"
          sed -i -E "s/\bbranch\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-_\/]+\s*('|\"|\]\])/tag = '$version'/" "${rockspec}"
          git diff
          if [[ -z "$(git status --porcelain "${rockspec}")" ]]; then
            echo 'Rockspec not modified'
            exit 1
          fi
          luarocks install dkjson
          luarocks upload --temp-key "${{ secrets.LUAROCKS_API_KEY }}" "${rockspec}"

      - name: Draft release on GitHub
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            fenster-*-1.rockspec
            fenster-*-1.src.rock
