name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml

  luarocks-upload-and-github-release:
    name: LuaRocks Upload & GitHub Release
    runs-on: ubuntu-latest
    needs: check

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Lua
        uses: leafo/gh-actions-lua@8aace3457a2fcf3f3c4e9007ecc6b869ff6d74d6 # v11.0.0

      - name: Set up LuaRocks
        uses: hishamhm/gh-actions-luarocks@master

      - name: Modify rockspec & upload to LuaRocks server
        run: |
          set -x
          version="${{ github.ref_name }}"
          rockspec="fenster-${version#v}-1.rockspec"
          git mv fenster-dev-1.rockspec "$rockspec"
          sed -i -E "s/\bversion\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-]+\s*('|\"|\]\])/version = '${version#v}-1'/" "$rockspec"
          sed -i -E "s/\bbranch\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-_\/]+\s*('|\"|\]\])/tag = '$version'/" "$rockspec"
          git diff
          if [[ -z "$(git status --porcelain "$rockspec")" ]]; then
            echo "Rockspec not modified"
            exit 1
          fi
          luarocks install dkjson
          luarocks upload --temp-key "${{ secrets.LUAROCKS_API_KEY }}" "$rockspec"

      - name: Draft release on GitHub
        uses: softprops/action-gh-release@e7a8f85e1c67a31e6ed99a94b41bd0b71bbee6b8 # v2.0.9
        with:
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            fenster-*-1.rockspec
            fenster-*-1.src.rock
