name: Release

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main
      - 'renovate/**'
    paths:
      - .github/workflows/release.yml

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/release.yml

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml

  luarocks-upload:
    name: LuaRocks Upload
    runs-on: ubuntu-latest
    needs: check

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Lua
        uses: leafo/gh-actions-lua@35bcb06abec04ec87df82e08caa84d545348536e # v10.0.0

      - name: Setup LuaRocks
        uses: hishamhm/gh-actions-luarocks@master

      - name: Modify rockspec & upload to LuaRocks server
        run: |
          version="${{ github.ref_name }}"
          rockspec="fenster-${version#v}-1.rockspec"
          git mv fenster-dev-1.rockspec "$rockspec"
          sed -iE "s/\bversion\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-]+\s*('|\"|\]\])/version = '${version#v}-1'/" "$rockspec"
          sed -iE "s/\bbranch\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-_\/]+\s*('|\"|\]\])/tag = '$version'/" "$rockspec"
          if [[ -z "$(git status --porcelain)" ]]; then
            echo "Rockspec not modified"
            exit 1
          fi
          luarocks upload --temp-key "${{ secrets.LUAROCKS_API_KEY }}" "$rockspec"
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

  github-release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs: luarocks-upload
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Release on GitHub
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        with:
          generate_release_notes: true
          #files: **/*.rock
          #fail_on_unmatched_files: true
